<div class="container">
    <h3>Pasos a seguir:</h3>
    <p>
        1: Al hacer click en el boton "Realizar pedido" se te enviara un e-mail con los datos de tu pedido,
        ademas, se adjuntaran los datos para que realices el deposito del 50%. <br>
        <br>
        2: En el momento que realices el deposito deberas enviar un e-mail o un mensaje de whatsapp para que
        comencemos a realizar tu pedido. <br>
        <br>
        <br>
        3: Cuando tu compra este terminada nos comunicaremos para que termines de abonar tu pedido con el envio
        respectivo. <br>
        <br>
        4: Una vez que realices el pago completo te estarmos enviando tu pedido por el medio mas
        conveniente.
    </p>

        
</div>