
img:hover{
	opacity: .8;
	cursor: pointer;
}

.fotoAbajo{
	max-height: 100px;
	width: 100px;
	object-fit: contain;
	
}
.contenedorFoto{
	width: 30rem;
}
h5{
	font-family: Moonflower;
	font-size: 25pt;
}

.fotoGrande{
	width: 350px;
	height: 350px;
	object-fit: contain;
	
}