<div class="container">
    <app-header></app-header>
    <app-filtrador></app-filtrador>

    <div class="row mt-4 justify-content-center">

        <div class="mx-5 my-4  border border-3 rounded-3 p-3 contenedorFoto" *ngFor="let producto of listaFiltrada">
            <div class="row justify-content-center">
                <img src="http://127.0.0.1:5000/static/fotosProductos/{{producto.fotos[0].direccionImage}}"
                    (click)="abrirModalFoto(producto.fotos[0].direccionImage)" data-bs-toggle="modal"
                    data-bs-target="#modalFotoGrande" class="shadow-lg p-3 mb-2 bg-body rounded col-10 ms-2 fotoGrande">
            </div>

            <div class="row  me-2 ">
              
                <div class="col-2 my-1 mx-3" *ngFor="let foto of producto.fotos">
                    <img class="shadow-lg p-1 ms- bg-body rounded fotoAbajo" src="http://127.0.0.1:5000/static/fotosProductos/{{foto.direccionImage}}"
                        (click)="abrirModalFoto(foto.direccionImage)" data-bs-toggle="modal"
                        data-bs-target="#modalFotoGrande" alt="...">
                </div>
                <app-modal-foto-grande [direccionFoto]="direccionFoto"></app-modal-foto-grande>
            </div>

            <div class="row">
                <h5 class="row my-3 text-center"><b class="titulo">{{producto.nombre}}</b></h5>
                <h4 class="row text-center">Descripcion: {{producto.descripcion}}</h4>
           
                <div class="row  mx-0">
                    
                    <div class="col text-center ">
                        <button (click)="abrirOffCanvasProducto(producto)" class=" rounded-pill btn-secondary p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#detalle" aria-controls="detalle">
                            <div class="row align-items-center">
                                <div class="col-2 fs-4 mx-2"><i class="fa-solid fa-plus"></i></div>
                                <div class="col ps-0 "><small> Agregar al carrito</small></div>
                            </div>
                          
                        </button>
                    </div>
                    <div class="col">
                        <h1 class="text-center fs-1 "> <b class="text-secondary"> ${{producto.precio}}</b></h1>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <app-detalle-producto [productoRecibido]="productoAenviar" [fotoRecibida]="fotoAenviar"
        [categoriaRecibida]="categoriaAenviar" [subCategoriaRecibida]="subCategoriaAenviar"
        [variantesRecibidas]="variantesAenviar"></app-detalle-producto>
</div>