<!-- Modal -->
<div class="modal fade" id="modalFotoGrande" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <img src="http://127.0.0.1:5000/static/fotosProductos/{{direccionFoto}}" class="w-100"alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>