.offcanvas-title{
    font-family: moonFlower;
    font-size: 40px;
}

.circulito{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

  .precio{
    font-family: moonFlower;
    font-size: 30px;
  }