<div class="container p-3 border border-3 rounded-3 ">
  <h1><u>Configuraciones </u></h1>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" id="floatingInput"
          placeholder="Monto minimo de compra (0 sin limite)" value="{{montoMinimo}}">
        <label for="floatingInput">Monto minimo de compra (0 sin limite)</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" id="floatingInput1"
          placeholder="Cantidad del mismo producto minimo (0 sin limite)" value="{{cantidadMinima}}">
        <label for="floatingInput1">Cantidad del mismo producto minimo (0 sin limite)</label>
      </div>
    </div>

  </div>
  <button class="btn btn-lg btn-secondary mt-5">Aceptar cambios</button>
</div>