<div class="row">

  <div class="col">
      <!-- NOMBRE PRODUCTO -->
      <div class="form-floating mb-3">
          <input type="text" class="form-control my-2 text-primary fw-bold text-capitalize" id="nombreProducto"
              placeholder=" " [(ngModel)]="nombreProducto" name="nombreProducto" required (ngModelChange)="cambioInput()">
          <label for="nombreProducto"> Nombre</label>

      </div>


  </div>

  <div class="col">
      <!-- PRECIO -->
      <div class="form-floating mb-3">
          <input type="number" min="1" step="any" class="form-control my-2 text-primary fw-bold " id="precio"
              placeholder=" " [(ngModel)]="precio" name="precio" required (ngModelChange)="cambioInput()">
          <label for="precio"> Precio</label>

      </div>


  </div>

</div>

<div class="row">
  <!-- ALTO -->
  <div class="col-6 ">
      <div class="form-floating mb-3">
          <input type="number" class="form-control text-primary fw-bold" id="alto" placeholder=" " [(ngModel)]="alto"
              name="Alto" required (ngModelChange)="cambioInput()">
          <label for="alto"> Alto </label>
      </div>
  </div>

  <div class="col-6">
      <!-- ANCHO -->
      <div class="form-floating mb-3">
          <input type="number" class="form-control text-primary fw-bold" id="ancho" placeholder=" "
              [(ngModel)]="ancho" name="ancho" required (ngModelChange)="cambioInput()">
          <label for="ancho"> Ancho </label>
      </div>
  </div>

  <div class="col">
      <!-- LARGO -->
      <div class="form-floating mb-3">
          <input type="number" class="form-control text-primary fw-bold" id="largo" placeholder=" "
              [(ngModel)]="largo" name="largo" required (ngModelChange)="cambioInput()">
          <label for="largo"> Largo </label>
      </div>
  </div>

  <div class="col">
      <!-- CAPACIDAD -->
      <div class="form-floating mb-3">
          <input type="number" class="form-control text-primary fw-bold" id="capacidad" placeholder=" "
              [(ngModel)]="capacidad" name="capacidad" required (ngModelChange)="cambioInput()">
          <label for="capacidad"> Capacidad </label>
      </div>
  </div>

</div>


<div class="row">
  <div class="col">
      <!-- DESCRIPCION-->

      <div class="form-floating mb-3">
          <textarea type="number" class="form-control text-primary fw-bold" id="descripcion" placeholder=" "
              [(ngModel)]="descripcion" name="descripcion" required (ngModelChange)="cambioInput()"></textarea>
          <label for="capacidad"> Descripcion </label>
      </div>
  </div>
</div>




