<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del usuario: <b class="text-primary"> {{nombre}} {{apellido}} </b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p class="text-secondary">Email: <br> <b class="text-primary"> {{email}}</b> </p>
                        <p class="text-secondary">Nombre:<br> <b class="text-primary"> {{nombre}}</b> </p>
                        <p class="text-secondary">Apellido:<br> <b class="text-primary"> {{apellido}}</b> </p>
                        <p class="text-secondary">DNI:<br> <b class="text-primary"> {{dni}}</b> </p>
                        <p class="text-secondary">CUIT:<br> <b class="text-primary"> {{cuit}}</b> </p>
                        <p class="text-secondary">Celular: <br><b class="text-primary"> {{celular}}</b> </p>
                        <p class="text-secondary">Telefono Fijo: <br><b class="text-primary"> {{telefono}}</b> </p>
                    </div>
                    <div class="col">
                        <p class="text-secondary">Calle: <br> <b class="text-primary"> {{calle}}</b> </p>
                        <p class="text-secondary">Numero:<br> <b class="text-primary"> {{numero}}</b> </p>
                        <div class="row">
                            <div class="col">
                        <p class="text-secondary">Piso:<br> <b class="text-primary"> {{piso}}</b> </p>
                    </div>
                    <div class="col">
                        <p class="text-secondary">Depto:<br> <b class="text-primary"> {{depto}}</b> </p>
                    </div>
                    </div>
                        <p class="text-secondary">Observaciones del domicilio:<br> <b class="text-primary"> {{observaciones}}</b> </p>
                        <p class="text-secondary">Localidad: <br><b class="text-primary"> {{localidad}}</b> </p>
                        <p class="text-secondary">Codigo postal: <br><b class="text-primary"> {{codigoPostal}}</b> </p>
                        <p class="text-secondary">Provincia: <br><b class="text-primary"> {{provincia}}</b> </p>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>

            </div>
        </div>
    </div>
</div>