    <!-- BOTON LOGIN -->
    <div class="btn-group dropdown me-lg-5 me-4">
            <label class="text-warning" for="botonLogin"></label>
        
            <button class="btn btn-secondary  dropdown-toggle " type="button" id="botonLogin" data-bs-toggle="dropdown"
                aria-expanded="false">
                
                <img src="../../../assets/user.png" height="40px" alt="">
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="botonLogin">
                <li><a class="dropdown-item" *ngIf="!usuario" [routerLink]="['/login']">Ingresar</a></li>
                <li><a class="dropdown-item" *ngIf="usuario" href="#" onclick="event.preventDefault()" (click)="signOut()">Salir</a></li>
                <li><a class="dropdown-item" *ngIf="usuario"  href="" [routerLink]="['../registro']">Mi perfil</a></li>
                <li><a class="dropdown-item" *ngIf="usuario" href="" [routerLink]="['../verMisPedidos']">Mis pedidos</a></li>
                <li><a class="dropdown-item" *ngIf="admin" href="" [routerLink]="['../administracion']">Administracion</a></li>
            </ul>
        </div>
    <!-- FIN BOTON LOGIN -->
    <p *ngIf="mostrar">Hola<br> <b class="text-uppercase text-secondary">{{usuario}}</b></p>