<!-- CUARTO NAV CON GESTIONES QUE SE MUETRAN SOLO AL ADMIN -->
<div class="row">
    <!--GESTION PRODUCTOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/gestionProductos']"><i class="fa-solid fa-gear"></i><br> Productos</a>
    </div>
  
    <!--GESTION PEDIDOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/verTodosLosPedidos']"><i class="fa-solid fa-gear"></i><br> Pedidos</a>
    </div>
  
    <!-- GESTION USUARIOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/gestionUsuarios']"><i class="fa-solid fa-gear"></i><br> Usuarios</a>
  
    </div>
  
    <!--GESTION VISUALES -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/gestionVisuales']"><i class="fa-solid fa-gear"></i><br> Configuraciones visuales</a>
  
    </div>
  
  </div>