<!-- CUARTO NAV CON GESTIONES QUE SE MUETRAN SOLO AL ADMIN -->
<div class="row">
    <!--GESTION PRODUCTOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/gestionProductos']"><i class="fa-solid fa-gear"></i><br> Productos</a>
    </div>
  
    <!--GESTION PEDIDOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/verTodosLosPedidos']"><i class="fa-solid fa-gear"></i><br> Pedidos</a>
    </div>
  
    <!-- GESTION USUARIOS -->
    <div class="col text-center">
      <a class="nav-link" href="/" [routerLink]="['/gestionUsuarios']"><i class="fa-solid fa-gear"></i><br> Usuarios</a>
  
    </div>
  
    <!--GESTION MP -->
    <div class="col text-center">
  
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
          <br> Materia prima
        </a>
  
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/nuevoProveedor">Agregar Proveedor</a></li>
          <li><a class="dropdown-item" href="/verProveedores">Gestion Proveedores</a></li>
          <li><a class="dropdown-item" href="/nuevaMateriaPrima">Pedir Materia Prima</a></li>
          <li><a class="dropdown-item" href="/verMateriaPrima">Gestion Materia Prima</a></li>
        </ul>
      </div>
    </div>
  
  
  </div>