
.titulo{
    font-family: moonFlower;
    font-size: 45px;
}

.imagenProducto{
    max-width: 1400px;
	max-height: 320px;
    border: 1px;
    border-radius: 20px;
	object-fit: contain;
    cursor: pointer;
}       